
body,p,a,label {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

h1,h2,h3 {
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

/*margin-top in pixel*/

.mt20 {
    margin-top: 20px;
}

.mt50 {
    margin-top: 50px;
}

.mt70 {
    margin-top: 70px;
}

.mt100 {
    margin-top: 100px;
}

/*margin-top in %*/

.mt2p {
    margin-top: 2%;
}

.mt5p {
    margin-top: 5%;
}

/*padding-top*/

.pt20 {
    padding-top: 20px;
}

.pt50 {
    padding-top: 50px;
}

.pt70 {
    padding-top: 70px;
}

.pt100 {
    padding-top: 100px;
}

/*text-align*/

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

/*navigation-bar*/

.navbar-brand {
    font-weight: 500;
    font-size: 24px;
    color: #fff !important;
}

.navbar-inverse.tabs {
    background-color: #2980b9;
    color: #fff;
    border-radius: 0;
    border: none;
}

.navbar-inverse {
    border-color: #222222;
}

.navbar-inverse.tabs ul li a {
    color: #fff;
}

.navbar-inverse.tabs ul li.active a {
    background: #222222;
}

.navbar-inverse.tabs ul li.active a:hover {
    background: #222222;
}

.tabs .nav.navbar-nav {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
}

/*footer*/

footer {
    height: 55px;
    background-color: #222 !important;
    width: 100%;
    color: #999;
}

footer p {
    max-width: 1170px;
    margin: 0 auto;
    padding: 19px 15px 0;

}

/*media queries*/  

@media(max-width: 992px) {
       .tabs .nav.navbar-nav {
            position: relative;
            left: auto;
            transform: translate(0, 0);
            -webkit-transform: translate(0, 0);
            -moz-transform: translate(0, 0);
        }
}
