body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.div-align-left{
    display:inline-block;
    border-style:double;
    background-color:#ffffff;
    width:20%;
    height:110px;
    margin:0px 10px 10px 0%;
    border-radius:2px;
    position:absolute;
    left:10px;
}

.div-align-center{
    display:inline-block;
    width:50%;
    height:110px;
    border-radius:2px;
    position:relative;
    left:100px;
}

.nav-client-list ul{
    overflow:hidden;
    overflow-y:scroll;
    height:100px;
}

