@using ReportViewerForMvc
@using Microsoft.Reporting.WebForms;
@model MVCReports.Models.AccuracyViewModel

@{
    ViewBag.Title = "Home Page";
}
<div></div>
<div>
   @*@Html.ReportViewer(ViewBag.reportView as Microsoft.Reporting.WebForms.ReportViewer)*@
</div>

@Html.Partial("_CustomerLayout", Model)

